In [ ]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('globalterrorismdb_merged_1970-2021.csv', encoding='ISO-8859-1', low_memory=False)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214666 entries, 0 to 214665
Columns: 135 entries, eventid to related
dtypes: float64(54), int64(23), object(58)
memory usage: 221.1+ MB

In [4]:
# 1) Missing value summary for all columns
missing = df.isna().sum().sort_values(ascending=False)
missing_percent = (missing / len(df) * 100).round(2)
missing_df = pd.DataFrame({'missing': missing, 'percent': missing_percent})
# show columns with any missing values (top 50)
missing_df[missing_df['missing']>0].head(50)

                    missing  percent
gsubname3            214643    99.99
weapsubtype4         214596    99.97
weapsubtype4_txt     214596    99.97
weaptype4            214593    99.97
weaptype4_txt        214593    99.97
claimmode3           214525    99.93
claimmode3_txt       214525    99.93
gsubname2            214474    99.91
divert               214327    99.84
claim3               214245    99.80
guncertain3          214244    99.80
gname3               214240    99.80
ransomnote           214073    99.72
attacktype3          213942    99.66
attacktype3_txt      213942    99.66
claimmode2           213927    99.66
claimmode2_txt       213927    99.66
ransompaidus         213916    99.65
ransomamtus          213907    99.65
ransompaid           213687    99.54
corp3                213125    99.28
ransomamt            213102    99.27
targsubtype3         213064    99.25
targsubtype3_txt     213064    99.25
natlty3              213003    99.23
natlty3_txt          213003    99.23
target3              212975    99.21
targtype3_txt        212974    99.21
targtype3            212974    99.21
weapsubtype3_txt     212431    98.96
weapsubtype3         212431    98.96
weaptype3_txt        212180    98.84
weaptype3            212180    98.84
claim2               212094    98.80
guncertain2          212032    98.77
gname2               211991    98.75
kidhijcountry        211352    98.46
resolution           209709    97.69
compclaim            209705    97.69
nhours               209561    97.62
gsubname             207194    96.52
attacktype2_txt      205734    95.84
attacktype2          205734    95.84
ndays                203993    95.03
approxdate           201593    93.91
nreleased            200695    93.49
corp2                200560    93.43
hostkidoutcome_txt   200083    93.21
hostkidoutcome       200083    93.21
targsubtype2_txt     200065    93.20

In [5]:
# 2) Columns with the largest fraction of missing values
missing_df.sort_values('percent', ascending=False).head(30)

                  missing  percent
gsubname3          214643    99.99
weapsubtype4_txt   214596    99.97
weaptype4          214593    99.97
weaptype4_txt      214593    99.97
weapsubtype4       214596    99.97
claimmode3         214525    99.93
claimmode3_txt     214525    99.93
gsubname2          214474    99.91
divert             214327    99.84
claim3             214245    99.80
guncertain3        214244    99.80
gname3             214240    99.80
ransomnote         214073    99.72
claimmode2         213927    99.66
claimmode2_txt     213927    99.66
attacktype3_txt    213942    99.66
attacktype3        213942    99.66
ransompaidus       213916    99.65
ransomamtus        213907    99.65
ransompaid         213687    99.54
corp3              213125    99.28
ransomamt          213102    99.27
targsubtype3       213064    99.25
targsubtype3_txt   213064    99.25
natlty3_txt        213003    99.23
natlty3            213003    99.23
target3            212975    99.21
targtype3_txt      212974    99.21
targtype3          212974    99.21
weapsubtype3_txt   212431    98.96

In [6]:
# 3) Summary for object (string) columns: unique counts and sample values (up to 5)
obj_cols = df.select_dtypes(include='object').columns.tolist()
def sample_vals(col, n=5):
    vals = df[col].dropna().unique()
    return vals[:n].tolist() if len(vals)>0 else []
obj_summary = pd.DataFrame({
    'unique': [df[c].nunique() for c in obj_cols],
    'sample_values': [sample_vals(c, 5) for c in obj_cols]
}, index=obj_cols)
obj_summary.sort_values('unique').head(50)

                    unique                                      sample_values
weaptype4_txt            5   [Explosives, Melee, Firearms, Incendiary, Other]
propextent_txt           5  [Minor (likely < $1 million), Major (likely >=...
alternative_txt          5  [Other Crime Type, Insurgency/Guerilla Action,...
hostkidoutcome_txt       7  [Hostage(s) released by perpetrators, Successf...
attacktype3_txt          7  [Armed Assault, Hijacking, Facility/Infrastruc...
attacktype1_txt          9  [Assassination, Hostage Taking (Kidnapping), B...
attacktype2_txt          9  [Armed Assault, Facility/Infrastructure Attack...
claimmode2_txt           9  [Call (post-incident), Unknown, Letter, Note l...
claimmode3_txt           9  [Letter, Other, Call (post-incident), Unknown,...
weaptype3_txt           10  [Unknown, Firearms, Melee, Incendiary, Explosi...
claimmode_txt           11  [Letter, Unknown, Call (pre-incident), Other, ...
weaptype2_txt           11  [Firearms, Fake Weapons, Melee, Incendiary, Ex...
region_txt              12  [Central America & Caribbean, North America, S...
weaptype1_txt           12  [Unknown, Explosives, Incendiary, Firearms, Ch...
gsubname3               16  [Commander Ibn al-Khattab, Ezzedine al-Qassam ...
weapsubtype4_txt        16  [Unknown Explosive Type, Projectile (rockets, ...
targtype3_txt           20  [Government (Diplomatic), Business, Private Ci...
targtype1_txt           22  [Private Citizens & Property, Government (Dipl...
targtype2_txt           22  [Police, Educational Institution, Unknown, Bus...
weapsubtype3_txt        22  [Knife or Other Sharp Object, Automatic or Sem...
dbsource                26  [PGIS, Hewitt Project, Hijacking DB, CBRN Glob...
weapsubtype2_txt        28  [Handgun, Unknown Gun Type, Knife or Other Sha...
weapsubtype1_txt        30  [Unknown Explosive Type, Unknown Gun Type, Aut...
gsubname2               75  [Islamic Jihad, The Family, Palestinian Islami...
targsubtype3_txt        93  [Diplomatic Personnel (outside of embassy, con...
targsubtype2_txt       108  [Police Security Forces/Officers, Other Person...
targsubtype1_txt       112  [Named Civilian, Diplomatic Personnel (outside...
natlty3_txt            116  [Poland, United States, Great Britain, Lebanon...
gname3                 142  [Guerrilla Column 29 September, Lebanese Resis...
divert                 145     [Beirut, Cambodia, South Korea, Jordan, Egypt]
natlty2_txt            161  [United States, Northern Ireland, Poland, Inte...
country_txt            204  [Dominican Republic, Mexico, Philippines, Gree...
natlty1_txt            215  [Dominican Republic, Belgium, United States, U...
kidhijcountry          217      [Mexico, Beirut, Venezuela, Spain, Guatemala]
ransomnote             464  [A note, with a sticker of the Black Liberatio...
gname2                 499  [Armed Revolutionary Independence Movement (MI...
corp3                  518  [Polish Ministry of Foreign Affairs, Howard Jo...
target3                873  [Consul General in Karachi: W. Duda, The Downt...
gsubname              1415  [FALN-R, Palestinian Liberation Army (military...
provstate             2631       [National, Federal, Tarlac, Attica, Fukouka]
corp2                 3198  [Fraternal Order of Police, San Francisco Stat...
approxdate            3469  [January 19-20, 1970, February 6-9, 1970, Febr...
resolution            3634  [1970-03-08, 1970-03-15, 1970-03-31, 1970-03-2...
gname                 3767  [MANO-D, 23rd of September Communist League, U...
target2               5869  [Fraternal Order of Police, Cleveland Ohio, Of...
related               9745  [197001300001, 197001300002, 197002030001, 197...
motive               18406  [To protest the Cairo Illinois Police Deparmen...
addnotes             19443  [The Cairo Chief of Police, William Petersen, ...
weapdetail           21781  [Explosive, Incendiary, Several gunshots were ...
propcomment          22466  [Three transformers were damaged., Basketball ...

In [7]:
# 4) Memory usage and dataframe shape
print('DataFrame shape:', df.shape)
print('Memory usage (deep):', df.memory_usage(deep=True).sum())
# optional: per-column deep memory (top 20)
mem = df.memory_usage(deep=True).sort_values(ascending=False)
mem.head(20)

DataFrame shape: (214666, 135)
Memory usage (deep): 757936509

summary             54822963
scite1              27088549
scite2              20213534
targsubtype1_txt    16537334
target1             14910947
gname               14350571
scite3              14297693
region_txt          14219353
attacktype1_txt     14082376
targtype1_txt       13947493
addnotes            13939373
weapsubtype1_txt    13849259
dbsource            13677297
motive              13214564
weapdetail          13121369
corp1               13015308
weaptype1_txt       12454539
provstate           12448910
city                12358084
country_txt         12194786
dtype: int64

## Suggested next steps
- Drop columns with extremely high missingness (e.g., >>90%) unless needed.
- For numeric columns with missing values: consider imputation (median) or mark with indicator.
- For categorical/text columns: inspect top values and decide whether to fill with 'Unknown' or drop.
- Convert appropriate columns to categorical or datetime to save memory.
- If memory is an issue, consider reading the CSV with dtype hints or use chunking.

Run the new cells above to get a detailed view of missingness and sample values, then tell me which columns you want to keep, drop, or impute and I will implement cleaning code.

In [8]:
# Cleaning step 1: Identify and drop columns with >90% missing values
threshold = 90.0
high_missing = missing_df[missing_df['percent'] > threshold].index.tolist()
print(f'Columns with >{threshold}% missing: {len(high_missing)}')
high_missing[:50]  # show first 50 if many

Columns with >90.0% missing: 62

['gsubname3',
 'weapsubtype4',
 'weapsubtype4_txt',
 'weaptype4',
 'weaptype4_txt',
 'claimmode3',
 'claimmode3_txt',
 'gsubname2',
 'divert',
 'claim3',
 'guncertain3',
 'gname3',
 'ransomnote',
 'attacktype3',
 'attacktype3_txt',
 'claimmode2',
 'claimmode2_txt',
 'ransompaidus',
 'ransomamtus',
 'ransompaid',
 'corp3',
 'ransomamt',
 'targsubtype3',
 'targsubtype3_txt',
 'natlty3',
 'natlty3_txt',
 'target3',
 'targtype3_txt',
 'targtype3',
 'weapsubtype3_txt',
 'weapsubtype3',
 'weaptype3_txt',
 'weaptype3',
 'claim2',
 'guncertain2',
 'gname2',
 'kidhijcountry',
 'resolution',
 'compclaim',
 'nhours',
 'gsubname',
 'attacktype2_txt',
 'attacktype2',
 'ndays',
 'approxdate',
 'nreleased',
 'corp2',
 'hostkidoutcome_txt',
 'hostkidoutcome',
 'targsubtype2_txt']

In [9]:
# We WILL NOT drop high-missing columns as requested. Instead we will impute them by sampling existing values
# Set a reproducible seed for sampling (change or set to None for non-reproducible draws)
random_seed = 42
if random_seed is not None:
    np.random.seed(random_seed)
memory_before = df.memory_usage(deep=True).sum()
print(f'Columns with >{threshold}% missing (kept for imputation):', len(high_missing))
# show first 50 columns if many
high_missing[:50]

Columns with >90.0% missing (kept for imputation): 62

['gsubname3',
 'weapsubtype4',
 'weapsubtype4_txt',
 'weaptype4',
 'weaptype4_txt',
 'claimmode3',
 'claimmode3_txt',
 'gsubname2',
 'divert',
 'claim3',
 'guncertain3',
 'gname3',
 'ransomnote',
 'attacktype3',
 'attacktype3_txt',
 'claimmode2',
 'claimmode2_txt',
 'ransompaidus',
 'ransomamtus',
 'ransompaid',
 'corp3',
 'ransomamt',
 'targsubtype3',
 'targsubtype3_txt',
 'natlty3',
 'natlty3_txt',
 'target3',
 'targtype3_txt',
 'targtype3',
 'weapsubtype3_txt',
 'weapsubtype3',
 'weaptype3_txt',
 'weaptype3',
 'claim2',
 'guncertain2',
 'gname2',
 'kidhijcountry',
 'resolution',
 'compclaim',
 'nhours',
 'gsubname',
 'attacktype2_txt',
 'attacktype2',
 'ndays',
 'approxdate',
 'nreleased',
 'corp2',
 'hostkidoutcome_txt',
 'hostkidoutcome',
 'targsubtype2_txt']

In [10]:
# Cleaning step 2: Impute numeric columns by sampling from observed values
num_cols = df.select_dtypes(include=[np.number]).columns.tolist()
num_imputed = []
for c in num_cols:
    n_miss = df[c].isna().sum()
    if n_miss > 0:
        # add missing flag to preserve information about which values were imputed
        df[c + '_missing_flag'] = df[c].isna().astype('int8')
        # sample from existing observed values (empirical distribution preserved)
        observed = df[c].dropna().values
        if len(observed) == 0:
            # no observed values; fallback to 0
            fill_vals = np.zeros(n_miss)
        else:
            fill_vals = np.random.choice(observed, size=n_miss, replace=True)
        df.loc[df[c].isna(), c] = fill_vals
        num_imputed.append(c)
print(f'Numeric columns imputed: {len(num_imputed)}')
print('First 30:', num_imputed[:30])

Numeric columns imputed: 54
First 30: ['latitude', 'longitude', 'specificity', 'alternative', 'multiple', 'attacktype2', 'attacktype3', 'targsubtype1', 'natlty1', 'targtype2', 'targsubtype2', 'natlty2', 'targtype3', 'targsubtype3', 'natlty3', 'guncertain1', 'guncertain2', 'guncertain3', 'nperps', 'nperpcap', 'claimed', 'claimmode', 'claim2', 'claimmode2', 'claim3', 'claimmode3', 'compclaim', 'weapsubtype1', 'weaptype2', 'weapsubtype2']

In [11]:
# Cleaning step 3: Impute object/categorical columns by sampling observed values
obj_cols = df.select_dtypes(include='object').columns.tolist()
obj_imputed = []
for c in obj_cols:
    n_miss = df[c].isna().sum()
    if n_miss > 0:
        # add missing flag to preserve information
        df[c + '_missing_flag'] = df[c].isna().astype('int8')
        # sample from observed values (preserves frequency distribution)
        observed = df[c].dropna().values
        if len(observed) == 0:
            # no observed values; fallback to 'Unknown'
            fill_vals = ['Unknown'] * n_miss
        else:
            fill_vals = np.random.choice(observed, size=n_miss, replace=True)
        df.loc[df[c].isna(), c] = fill_vals
        obj_imputed.append(c)
print(f'Object columns imputed: {len(obj_imputed)}')
print('First 30:', obj_imputed[:30])

Object columns imputed: 50
First 30: ['approxdate', 'resolution', 'city', 'location', 'summary', 'alternative_txt', 'attacktype2_txt', 'attacktype3_txt', 'targsubtype1_txt', 'corp1', 'target1', 'natlty1_txt', 'targtype2_txt', 'targsubtype2_txt', 'corp2', 'target2', 'natlty2_txt', 'targtype3_txt', 'targsubtype3_txt', 'corp3', 'target3', 'natlty3_txt', 'gsubname', 'gname2', 'gsubname2', 'gname3', 'gsubname3', 'motive', 'claimmode_txt', 'claimmode2_txt']

C:\Users\OM\AppData\Local\Temp\ipykernel_25104\1234223074.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[c + '_missing_flag'] = df[c].isna().astype('int8')
C:\Users\OM\AppData\Local\Temp\ipykernel_25104\1234223074.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[c + '_missing_flag'] = df[c].isna().astype('int8')
C:\Users\OM\AppData\Local\Temp\ipykernel_25104\1234223074.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[c + '_missing_flag'] = df[c].isna().astype('int8')
C:\Users\OM\AppData\Local\Temp\ipykernel_25104\1234223074.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[c + '_missing_flag'] = df[c].isna().astype('int8')
C:\Users\OM\AppData\Local\Temp\ipykernel_25104\1234223074.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[c + '_missing_flag'] = df[c].isna().astype('int8')
C:\Users\OM\AppData\Local\Temp\ipykernel_25104\1234223074.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[c + '_missing_flag'] = df[c].isna().astype('int8')
C:\Users\OM\AppData\Local\Temp\ipykernel_25104\1234223074.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[c + '_missing_flag'] = df[c].isna().astype('int8')

In [12]:
# Cleaning step 4: Convert low-cardinality object columns to category dtype (memory optimization)
converted_to_cat = []
for c in df.select_dtypes(include='object').columns:
    n_unique = df[c].nunique(dropna=False)
    if n_unique < 1000:  # threshold for converting to category
        df[c] = df[c].astype('category')
        converted_to_cat.append(c)
print(f'Columns converted to category: {len(converted_to_cat)}')
print('First 30:', converted_to_cat[:30])

Columns converted to category: 38
First 30: ['country_txt', 'region_txt', 'alternative_txt', 'attacktype1_txt', 'attacktype2_txt', 'attacktype3_txt', 'targtype1_txt', 'targsubtype1_txt', 'natlty1_txt', 'targtype2_txt', 'targsubtype2_txt', 'natlty2_txt', 'targtype3_txt', 'targsubtype3_txt', 'corp3', 'target3', 'natlty3_txt', 'gname2', 'gsubname2', 'gname3', 'gsubname3', 'claimmode_txt', 'claimmode2_txt', 'claimmode3_txt', 'weaptype1_txt', 'weapsubtype1_txt', 'weaptype2_txt', 'weapsubtype2_txt', 'weaptype3_txt', 'weapsubtype3_txt']

In [13]:
# Final: Report cleaning results and memory savings
memory_after = df.memory_usage(deep=True).sum()
print('\n=== CLEANING SUMMARY ===')
print(f'DataFrame shape AFTER cleaning: {df.shape}')
print(f'Memory BEFORE (bytes): {memory_before:,.0f}')
print(f'Memory AFTER  (bytes): {memory_after:,.0f}')
reduction = memory_before - memory_after
pct_reduction = (reduction / memory_before * 100) if memory_before > 0 else 0
print(f'Memory reduction: {reduction:,.0f} bytes ({pct_reduction:.1f}%)')
print(f'\nTotal columns with numeric imputation flags added: {len(num_imputed)}')
print(f'Total columns with categorical imputation flags added: {len(obj_imputed)}')
print(f'Total columns converted to category: {len(converted_to_cat)}')

# Check for remaining missing values
remaining_missing = df.isna().sum().sum()
print(f'Total remaining missing values: {remaining_missing}')

=== CLEANING SUMMARY ===
DataFrame shape AFTER cleaning: (214666, 239)
Memory BEFORE (bytes): 757,936,509
Memory AFTER  (bytes): 661,433,821
Memory reduction: 96,502,688 bytes (12.7%)

Total columns with numeric imputation flags added: 54
Total columns with categorical imputation flags added: 50
Total columns converted to category: 38
Total remaining missing values: 0

In [14]:
# (Optional) Save the cleaned DataFrame to CSV
# Uncomment the line below to save
# df.to_csv('globalterrorismdb_merged_1970-2021_cleaned.csv', index=False)
print('To save the cleaned DataFrame, uncomment the to_csv line above.')

To save the cleaned DataFrame, uncomment the to_csv line above.

In [15]:
# Display final DataFrame structure
print('Final DataFrame info after cleaning and imputation:')
df.info()

Final DataFrame info after cleaning and imputation:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214666 entries, 0 to 214665
Columns: 239 entries, eventid to related_missing_flag
dtypes: category(38), float64(54), int64(23), int8(104), object(20)
memory usage: 190.2+ MB

## Date Column Creation
Merge iyear, imonth, iday into a proper datetime column

In [16]:
# Check the date columns
print("Date column info:")
print(f"iyear dtype: {df['iyear'].dtype}, sample: {df['iyear'].head()}")
print(f"imonth dtype: {df['imonth'].dtype}, sample: {df['imonth'].head()}")
print(f"iday dtype: {df['iday'].dtype}, sample: {df['iday'].head()}")
print(f"\nMissing values:")
print(f"iyear missing: {df['iyear'].isna().sum()}")
print(f"imonth missing: {df['imonth'].isna().sum()}")
print(f"iday missing: {df['iday'].isna().sum()}")

Date column info:
iyear dtype: int64, sample: 0    1970
1    1970
2    1970
3    1970
4    1970
Name: iyear, dtype: int64
imonth dtype: int64, sample: 0    7
1    0
2    1
3    1
4    1
Name: imonth, dtype: int64
iday dtype: int64, sample: 0    2
1    0
2    0
3    0
4    0
Name: iday, dtype: int64

Missing values:
iyear missing: 0
imonth missing: 0
iday missing: 0

In [17]:
# Merge iyear, imonth, iday into a single datetime column
# Handle missing or invalid dates by using pd.to_datetime with errors='coerce'
df['eventdate'] = pd.to_datetime(
    df['iyear'].astype(str) + '-' + 
    df['imonth'].astype(str).str.zfill(2) + '-' + 
    df['iday'].astype(str).str.zfill(2),
    format='%Y-%m-%d',
    errors='coerce'
)

print(f"New 'eventdate' column created!")
print(f"eventdate dtype: {df['eventdate'].dtype}")
print(f"eventdate sample (first 10):\n{df['eventdate'].head(10)}")
print(f"\nMissing dates: {df['eventdate'].isna().sum()}")
print(f"Date range: {df['eventdate'].min()} to {df['eventdate'].max()}")

New 'eventdate' column created!
eventdate dtype: datetime64[ns]
eventdate sample (first 10):
0   1970-07-02
1          NaT
2          NaT
3          NaT
4          NaT
5   1970-01-01
6   1970-01-02
7   1970-01-02
8   1970-01-02
9   1970-01-03
Name: eventdate, dtype: datetime64[ns]

Missing dates: 891
Date range: 1970-01-01 00:00:00 to 2021-06-30 00:00:00

C:\Users\OM\AppData\Local\Temp\ipykernel_25104\3762956521.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df['eventdate'] = pd.to_datetime(

In [18]:
# Optional: View the new column alongside original date components
print("Sample of merged date with original components:")
sample_df = df[['iyear', 'imonth', 'iday', 'eventdate']].head(20)
print(sample_df)

# Optional: Drop the original date columns if you want to keep only eventdate
# Uncomment the following lines if you want to remove iyear, imonth, iday
# df.drop(columns=['iyear', 'imonth', 'iday'], inplace=True)
# print("\nOriginal date columns dropped. Keeping only 'eventdate'.")

print("\n Date merging complete! You can now use 'eventdate' for time-based analysis.")

Sample of merged date with original components:
    iyear  imonth  iday  eventdate
0    1970       7     2 1970-07-02
1    1970       0     0        NaT
2    1970       1     0        NaT
3    1970       1     0        NaT
4    1970       1     0        NaT
5    1970       1     1 1970-01-01
6    1970       1     2 1970-01-02
7    1970       1     2 1970-01-02
8    1970       1     2 1970-01-02
9    1970       1     3 1970-01-03
10   1970       1     1 1970-01-01
11   1970       1     6 1970-01-06
12   1970       1     8 1970-01-08
13   1970       1     9 1970-01-09
14   1970       1     9 1970-01-09
15   1970       1    10 1970-01-10
16   1970       1    11 1970-01-11
17   1970       1    12 1970-01-12
18   1970       1    12 1970-01-12
19   1970       1    13 1970-01-13

 Date merging complete! You can now use 'eventdate' for time-based analysis.

In [19]:
# Replace 0 values in iday with random integers (1-31)
# Check before replacement
zero_count = (df['iday'] == 0).sum()
print(f"iday values equal to 0: {zero_count}")
print(f"iday value counts:\n{df['iday'].value_counts().head(15)}")

# Replace 0s with random values between 1 and 31
mask_zero = df['iday'] == 0
if zero_count > 0:
    # Use the same random seed for reproducibility (already set earlier)
    random_days = np.random.randint(1, 32, size=zero_count)
    df.loc[mask_zero, 'iday'] = random_days
    print(f"\nReplaced {zero_count} zero values in iday with random days (1-31)")
    print(f"Sample of replaced values: {random_days[:20]}")
else:
    print("\nNo zero values found in iday")

# Verify replacement
print(f"\niday value counts after replacement:\n{df['iday'].value_counts().sort_index().head(15)}")
print(f"New iday min: {df['iday'].min()}, max: {df['iday'].max()}")

iday values equal to 0: 891
iday value counts:
iday
15    7657
1     7366
4     7214
16    7197
9     7192
10    7162
12    7144
13    7144
28    7140
14    7088
11    7084
20    7084
7     7083
27    7053
3     7048
Name: count, dtype: int64

Replaced 891 zero values in iday with random days (1-31)
Sample of replaced values: [15 29  5 30  2 24  6  9  8 24  1  9  1  3 13 13 21  8 29 31]

iday value counts after replacement:
iday
1     7393
2     7037
3     7080
4     7241
5     7018
6     6890
7     7114
8     6895
9     7225
10    7196
11    7113
12    7179
13    7172
14    7119
15    7683
Name: count, dtype: int64
New iday min: 1, max: 31

In [20]:
# Regenerate eventdate after iday replacement to ensure all dates are valid
df['eventdate'] = pd.to_datetime(
    df['iyear'].astype(str) + '-' + 
    df['imonth'].astype(str).str.zfill(2) + '-' + 
    df['iday'].astype(str).str.zfill(2),
    format='%Y-%m-%d',
    errors='coerce'
)

print("Updated eventdate column after iday replacement:")
print(f"Missing dates: {df['eventdate'].isna().sum()}")
print(f"Date range: {df['eventdate'].min()} to {df['eventdate'].max()}")
print(f"\nSample of updated dates with iday (first 15):")
print(df[['iyear', 'imonth', 'iday', 'eventdate']].head(15))

Updated eventdate column after iday replacement:
Missing dates: 30
Date range: 1970-01-01 00:00:00 to 2021-06-30 00:00:00

Sample of updated dates with iday (first 15):
    iyear  imonth  iday  eventdate
0    1970       7     2 1970-07-02
1    1970       0    15        NaT
2    1970       1    29 1970-01-29
3    1970       1     5 1970-01-05
4    1970       1    30 1970-01-30
5    1970       1     1 1970-01-01
6    1970       1     2 1970-01-02
7    1970       1     2 1970-01-02
8    1970       1     2 1970-01-02
9    1970       1     3 1970-01-03
10   1970       1     1 1970-01-01
11   1970       1     6 1970-01-06
12   1970       1     8 1970-01-08
13   1970       1     9 1970-01-09
14   1970       1     9 1970-01-09

In [21]:
# Replace 0 values in imonth with random integers (1-12)
# Check before replacement
zero_count_month = (df['imonth'] == 0).sum()
print(f"imonth values equal to 0: {zero_count_month}")
print(f"imonth value counts:\n{df['imonth'].value_counts().sort_index()}")

# Replace 0s with random values between 1 and 12
mask_zero_month = df['imonth'] == 0
if zero_count_month > 0:
    random_months = np.random.randint(1, 13, size=zero_count_month)
    df.loc[mask_zero_month, 'imonth'] = random_months
    print(f"\nReplaced {zero_count_month} zero values in imonth with random months (1-12)")
    print(f"Sample of replaced values: {random_months[:20]}")
else:
    print("\nNo zero values found in imonth")

# Verify replacement
print(f"\nimonth value counts after replacement:\n{df['imonth'].value_counts().sort_index()}")
print(f"New imonth min: {df['imonth'].min()}, max: {df['imonth'].max()}")

imonth values equal to 0: 20
imonth value counts:
imonth
0        20
1     18062
2     16755
3     18285
4     18393
5     20664
6     18781
7     18783
8     18030
9     16471
10    17913
11    16916
12    15593
Name: count, dtype: int64

Replaced 20 zero values in imonth with random months (1-12)
Sample of replaced values: [12  1  6  8  5 12  4  5  2  5  2 12  2  3  8  8  6  3  4  6]

imonth value counts after replacement:
imonth
1     18063
2     16758
3     18287
4     18395
5     20667
6     18784
7     18783
8     18033
9     16471
10    17913
11    16916
12    15596
Name: count, dtype: int64
New imonth min: 1, max: 12

In [22]:
# Regenerate eventdate after imonth replacement to ensure all dates are valid
df['eventdate'] = pd.to_datetime(
    df['iyear'].astype(str) + '-' + 
    df['imonth'].astype(str).str.zfill(2) + '-' + 
    df['iday'].astype(str).str.zfill(2),
    format='%Y-%m-%d',
    errors='coerce'
)

print("Updated eventdate column after imonth replacement:")
print(f"Missing dates: {df['eventdate'].isna().sum()}")
print(f"Date range: {df['eventdate'].min()} to {df['eventdate'].max()}")
print(f"\nSample of updated dates with imonth (first 15):")
print(df[['iyear', 'imonth', 'iday', 'eventdate']].head(15))

Updated eventdate column after imonth replacement:
Missing dates: 10
Date range: 1970-01-01 00:00:00 to 2021-06-30 00:00:00

Sample of updated dates with imonth (first 15):
    iyear  imonth  iday  eventdate
0    1970       7     2 1970-07-02
1    1970      12    15 1970-12-15
2    1970       1    29 1970-01-29
3    1970       1     5 1970-01-05
4    1970       1    30 1970-01-30
5    1970       1     1 1970-01-01
6    1970       1     2 1970-01-02
7    1970       1     2 1970-01-02
8    1970       1     2 1970-01-02
9    1970       1     3 1970-01-03
10   1970       1     1 1970-01-01
11   1970       1     6 1970-01-06
12   1970       1     8 1970-01-08
13   1970       1     9 1970-01-09
14   1970       1     9 1970-01-09

In [23]:
# Drop the original date component columns (iyear, imonth, iday) as they are no longer needed
# The eventdate column contains all this information and is more useful for analysis

print("Columns before dropping date components:")
print(f"Total columns: {len(df.columns)}")
print(f"Contains iyear: {'iyear' in df.columns}")
print(f"Contains imonth: {'imonth' in df.columns}")
print(f"Contains iday: {'iday' in df.columns}")
print(f"Contains eventdate: {'eventdate' in df.columns}")

# Drop the three columns
df.drop(columns=['iyear', 'imonth', 'iday'], inplace=True)

print("\n Dropped iyear, imonth, iday columns")
print(f"\nColumns after dropping date components:")
print(f"Total columns: {len(df.columns)}")
print(f"Contains eventdate: {'eventdate' in df.columns}")
print(f"\nDataFrame shape: {df.shape}")
print(f"\nFirst few rows with eventdate:")
print(df[['eventdate']].head(10))

Columns before dropping date components:
Total columns: 240
Contains iyear: True
Contains imonth: True
Contains iday: True
Contains eventdate: True

 Dropped iyear, imonth, iday columns

Columns after dropping date components:
Total columns: 237
Contains eventdate: True

DataFrame shape: (214666, 237)

First few rows with eventdate:
   eventdate
0 1970-07-02
1 1970-12-15
2 1970-01-29
3 1970-01-05
4 1970-01-30
5 1970-01-01
6 1970-01-02
7 1970-01-02
8 1970-01-02
9 1970-01-03

## Finding Null Values in Dataset
Different methods to find and analyze missing data

In [24]:
# Method 1: Using isnull() or isna() - count null values per column
print("=" * 80)
print("METHOD 1: Count NULL values per column using isna()")
print("=" * 80)
null_counts = df.isnull().sum()
null_counts = null_counts[null_counts > 0]  # show only columns with nulls
if len(null_counts) > 0:
    print(null_counts)
else:
    print("No null values found in the dataset!")

print("\n" + "=" * 80)
print("METHOD 2: Percentage of NULL values per column")
print("=" * 80)
null_percentage = (df.isnull().sum() / len(df) * 100).round(2)
null_percentage = null_percentage[null_percentage > 0]  # show only columns with nulls
if len(null_percentage) > 0:
    print(null_percentage)
else:
    print("No null values found in the dataset!")

print("\n" + "=" * 80)
print("METHOD 3: Total NULL values in entire dataset")
print("=" * 80)
total_nulls = df.isnull().sum().sum()
print(f"Total null values: {total_nulls}")
print(f"Dataset shape: {df.shape}")
print(f"Total cells: {df.shape[0] * df.shape[1]}")
print(f"Percentage of null cells: {(total_nulls / (df.shape[0] * df.shape[1]) * 100):.2f}%")

================================================================================
METHOD 1: Count NULL values per column using isna()
================================================================================
eventdate    10
dtype: int64

================================================================================
METHOD 2: Percentage of NULL values per column
================================================================================
No null values found in the dataset!

================================================================================
METHOD 3: Total NULL values in entire dataset
================================================================================
Total null values: 10
Dataset shape: (214666, 237)
Total cells: 50875842
Percentage of null cells: 0.00%

In [25]:
# Method 4: Create a summary DataFrame for null values (most useful for reporting)
print("=" * 80)
print("METHOD 4: Detailed summary - NULL values dataframe")
print("=" * 80)
null_summary = pd.DataFrame({
    'Column': df.columns,
    'Null_Count': df.isnull().sum().values,
    'Null_Percentage': (df.isnull().sum() / len(df) * 100).round(2).values,
    'Data_Type': df.dtypes.values
})
# Filter to show only columns with null values
null_summary = null_summary[null_summary['Null_Count'] > 0].sort_values('Null_Count', ascending=False)
if len(null_summary) > 0:
    print(null_summary.to_string(index=False))
else:
    print("No null values found in the dataset!")

print("\n" + "=" * 80)
print("METHOD 5: Find rows with ANY null values")
print("=" * 80)
rows_with_nulls = df.isnull().any(axis=1).sum()
print(f"Number of rows with at least one null value: {rows_with_nulls}")
print(f"Percentage of rows with nulls: {(rows_with_nulls / len(df) * 100):.2f}%")

print("\n" + "=" * 80)
print("METHOD 6: Show specific columns with null values (first 5 rows)")
print("=" * 80)
cols_with_nulls = df.columns[df.isnull().any()].tolist()
if len(cols_with_nulls) > 0:
    print(f"Columns with null values: {cols_with_nulls[:10]}")
    # Show a sample
    sample_with_nulls = df[cols_with_nulls].isnull().head()
    print(f"\nNull value locations (TRUE = null):\n{sample_with_nulls}")
else:
    print("No columns with null values found!")

================================================================================
METHOD 4: Detailed summary - NULL values dataframe
================================================================================
   Column  Null_Count  Null_Percentage      Data_Type
eventdate          10              0.0 datetime64[ns]

================================================================================
METHOD 5: Find rows with ANY null values
================================================================================
Number of rows with at least one null value: 10
Percentage of rows with nulls: 0.00%

================================================================================
METHOD 6: Show specific columns with null values (first 5 rows)
================================================================================
Columns with null values: ['eventdate']

Null value locations (TRUE = null):
   eventdate
0      False
1      False
2      False
3      False
4      False

df.info()

In [26]:
df.isnull().sum()

eventid                  0
approxdate               0
extended                 0
resolution               0
country                  0
                        ..
scite1_missing_flag      0
scite2_missing_flag      0
scite3_missing_flag      0
related_missing_flag     0
eventdate               10
Length: 237, dtype: int64

In [27]:
df.isna().sum()

eventid                  0
approxdate               0
extended                 0
resolution               0
country                  0
                        ..
scite1_missing_flag      0
scite2_missing_flag      0
scite3_missing_flag      0
related_missing_flag     0
eventdate               10
Length: 237, dtype: int64

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214666 entries, 0 to 214665
Columns: 237 entries, eventid to eventdate
dtypes: category(38), datetime64[ns](1), float64(54), int64(20), int8(104), object(20)
memory usage: 186.9+ MB

In [29]:
df.head()

,eventid,approxdate,extended,resolution,country,country_txt,region,region_txt,provstate,city,...,divert_missing_flag,kidhijcountry_missing_flag,ransomnote_missing_flag,hostkidoutcome_txt_missing_flag,addnotes_missing_flag,scite1_missing_flag,scite2_missing_flag,scite3_missing_flag,related_missing_flag,eventdate
0,197000000001,"September 16, 2015",0,2018-07-16,58,Dominican Republic,2,Central America & Caribbean,National,Santo Domingo,...,1,1,1,1,1,1,1,1,1,1970-07-02
1,197000000002,"February 11, 2018",0,2015-05-09,130,Mexico,1,North America,Federal,Mexico city,...,1,0,1,1,1,1,1,1,1,1970-12-15
2,197001000001,"October 14, 2014",0,2005-01-05,160,Philippines,5,Southeast Asia,Tarlac,Unknown,...,1,1,1,1,1,1,1,1,1,1970-01-29
3,197001000002,"March 8, 2014",0,2018-08-17,78,Greece,8,Western Europe,Attica,Athens,...,1,1,1,1,1,1,1,1,1,1970-01-05
4,197001000003,"September 28-October 1, 2014",0,2016-10-12,101,Japan,4,East Asia,Fukouka,Fukouka,...,1,1,1,1,1,1,1,1,1,1970-01-30

In [30]:
df.describe()

,eventid,extended,country,region,latitude,longitude,specificity,vicinity,crit1,crit2,...,divert_missing_flag,kidhijcountry_missing_flag,ransomnote_missing_flag,hostkidoutcome_txt_missing_flag,addnotes_missing_flag,scite1_missing_flag,scite2_missing_flag,scite3_missing_flag,related_missing_flag,eventdate
count,2.146660e+05,214666.000000,214666.000000,214666.000000,214666.000000,214666.000000,214666.000000,214666.000000,214666.000000,214666.000000,...,214666.000000,214666.000000,214666.000000,214666.000000,214666.000000,214666.000000,214666.000000,214666.000000,214666.000000,214656
mean,2.005241e+11,0.052477,129.704392,7.296260,23.360891,30.768084,1.472054,0.068856,0.988191,0.993376,...,0.998421,0.984562,0.997238,0.932067,0.826363,0.308302,0.554200,0.746713,0.852934,2005-08-31 01:43:11.726297088
min,1.970000e+11,0.000000,4.000000,1.000000,-84.671596,-176.176447,1.000000,-9.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1970-01-01 00:00:00
25%,1.992103e+11,0.000000,69.000000,6.000000,11.558831,8.929852,1.000000,0.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1992-10-28 00:00:00
50%,2.012043e+11,0.000000,98.000000,8.000000,31.316522,43.784197,1.000000,0.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,2012-04-26 00:00:00
75%,2.016040e+11,0.000000,160.000000,10.000000,34.536323,68.848197,1.000000,0.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2016-04-01 00:00:00
max,2.021073e+11,1.000000,1004.000000,12.000000,74.633553,179.366667,5.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2021-06-30 00:00:00
std,1.358132e+09,0.222987,111.568376,2.900374,18.069379,55.824313,0.984895,0.280694,0.108026,0.081120,...,0.039708,0.123287,0.052486,0.251632,0.378798,0.461793,0.497055,0.434895,0.354172,NaN

In [31]:
# Finalize dataset for analysis: deduplicate, downcast numeric types, ensure dtypes, reset index, and save cleaned CSV
print('Starting finalization steps...')

# 1) Deduplicate rows (prefer `eventid` if available)
if 'eventid' in df.columns:
    before = len(df)
    df.drop_duplicates(subset=['eventid'], keep='first', inplace=True)
    after = len(df)
    print(f'Deduplicated using eventid: {before} -> {after} rows')
else:
    before = len(df)
    df.drop_duplicates(inplace=True)
    after = len(df)
    print(f'Deduplicated on all columns: {before} -> {after} rows')

# 2) Downcast numeric columns to save memory (safe conversions)
print('\nDowncasting numeric columns where possible...')
num_cols = df.select_dtypes(include=['int64', 'float64']).columns.tolist()
for c in num_cols:
    if pd.api.types.is_integer_dtype(df[c].dropna()):
        df[c] = pd.to_numeric(df[c], downcast='integer')
    else:
        df[c] = pd.to_numeric(df[c], downcast='float')
print('Downcast complete.')

# 3) Ensure missing-flag columns are int8 if present
flag_cols = [c for c in df.columns if c.endswith('_missing_flag')]
for c in flag_cols:
    df[c] = df[c].astype('int8')
print(f'Converted {len(flag_cols)} missing-flag columns to int8.')

# 4) Convert remaining low-cardinality object columns to category (if any remain)
obj_cols = [c for c in df.select_dtypes(include='object').columns]
converted = 0
for c in obj_cols:
    if df[c].nunique(dropna=False) < 5000:
        df[c] = df[c].astype('category')
        converted += 1
print(f'Converted {converted} object columns to category.')

# 5) Reset index for a clean DataFrame
df.reset_index(drop=True, inplace=True)
print('Index reset.')

# 6) Final checks and save
final_shape = df.shape
memory_final = df.memory_usage(deep=True).sum()
missing_final = df.isna().sum().sum()
print('\nFinal shape:', final_shape)
print('Final memory (bytes):', memory_final)
print('Total remaining missing values:', missing_final)

# Save cleaned file (uncomment to write file)
cleaned_path = 'globalterrorismdb_merged_1970-2021_cleaned.csv'
try:
    df.to_csv(cleaned_path, index=False)
    print(f"Saved cleaned DataFrame to: {cleaned_path}")
except Exception as e:
    print('Could not save cleaned CSV automatically:', e)
    print("If running in an environment without write permissions, save manually by uncommenting the to_csv line.")

# Quick preview
print('\nPreview (first 5 rows):')
print(df.head())
print('\nColumns and dtypes:')
print(df.dtypes.head(50))

Starting finalization steps...
Deduplicated using eventid: 214666 -> 214666 rows

Downcasting numeric columns where possible...
Downcast complete.
Converted 104 missing-flag columns to int8.
Converted 6 object columns to category.
Index reset.

Final shape: (214666, 237)
Final memory (bytes): 506624195
Total remaining missing values: 10
Saved cleaned DataFrame to: globalterrorismdb_merged_1970-2021_cleaned.csv

Preview (first 5 rows):
        eventid                    approxdate  extended  resolution  country  \
0  197000000001            September 16, 2015         0  2018-07-16       58
1  197000000002             February 11, 2018         0  2015-05-09      130
2  197001000001              October 14, 2014         0  2005-01-05      160
3  197001000002                 March 8, 2014         0  2018-08-17       78
4  197001000003  September 28-October 1, 2014         0  2016-10-12      101

          country_txt  region                   region_txt provstate  \
0  Dominican Republic       2  Central America & Caribbean  National
1              Mexico       1                North America   Federal
2         Philippines       5               Southeast Asia    Tarlac
3              Greece       8               Western Europe    Attica
4               Japan       4                    East Asia   Fukouka

            city  ...  divert_missing_flag  kidhijcountry_missing_flag  \
0  Santo Domingo  ...                    1                           1
1    Mexico city  ...                    1                           0
2        Unknown  ...                    1                           1
3         Athens  ...                    1                           1
4        Fukouka  ...                    1                           1

   ransomnote_missing_flag  hostkidoutcome_txt_missing_flag  \
0                        1                                1
1                        1                                1
2                        1                                1
3                        1                                1
4                        1                                1

  addnotes_missing_flag scite1_missing_flag  scite2_missing_flag  \
0                     1                   1                    1
1                     1                   1                    1
2                     1                   1                    1
3                     1                   1                    1
4                     1                   1                    1

   scite3_missing_flag  related_missing_flag  eventdate
0                    1                     1 1970-07-02
1                    1                     1 1970-12-15
2                    1                     1 1970-01-29
3                    1                     1 1970-01-05
4                    1                     1 1970-01-30

[5 rows x 237 columns]

Columns and dtypes:
eventid                int64
approxdate          category
extended                int8
resolution          category
country                int16
country_txt         category
region                  int8
region_txt          category
provstate           category
city                  object
latitude             float32
longitude            float32
specificity          float32
vicinity                int8
location              object
summary               object
crit1                   int8
crit2                   int8
crit3                   int8
doubtterr               int8
alternative          float32
alternative_txt     category
multiple             float32
success                 int8
suicide                 int8
attacktype1             int8
attacktype1_txt     category
attacktype2          float32
attacktype2_txt     category
attacktype3          float32
attacktype3_txt     category
targtype1               int8
targtype1_txt       category
targsubtype1         float32
targsubtype1_txt    category
corp1                 object
target1               object
natlty1              float32
natlty1_txt         category
targtype2            float32
targtype2_txt       category
targsubtype2         float32
targsubtype2_txt    category
corp2               category
target2               object
natlty2              float32
natlty2_txt         category
targtype3            float32
targtype3_txt       category
targsubtype3         float32
dtype: object